/* 
.background{
    background-color: teal;
}
.color{
    background-color: tomato;
}
.container
{
    max-width: 720px;
    width: 100%;
    height: 800px;
    margin: 0 auto;
}
.wrapper{
    position: absolute;
    bottom: 20px;
} */
body{
    background-image: url(../img/field.png);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}
.player{
    position: absolute;
    height: 50px;
}
