main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 7px;
  background-color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px black;
  input {
    height: 50px;
    border-radius: 7px;
  }
  button {
    height: 50px;
    border-radius: 7px;
  }
  img {
    width: 100px;
  }
}
button {
  font-size: 1.2em;
}
.searchResult {
  padding: 10px;
  margin-top: 10px;
  border: solid 1px black;
  border-radius: 7px;
  width: 30%;
}
.searchResult:hover {
  background-color: lightblue;
}
.thumbnail {
  border-radius: 15px;
}
.showVideo {
  margin-top: 38px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.listVideo {
  margin-top: 20px;
  border-top: 1px solid black;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
