.cf::before, .cf::after{
    content: '';
    display: table;
    clear: both;
}

body {
    background-image: url(./x-wing-626330\ 102px.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
}

img{
    display: block;
}

#first-image{
    height: 200px;
    float: right;
    clear: left;
}

#second-image{
    width: 200px;
    margin: 0 auto;
    clear: both;
}

#third-image{
    height: 200px;
    width: 200px;
    float: left;
    clear: right;
}
